*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.dot {
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

#background-container {
  width: 3400px;
  background-color: #040c66;
  height: 3400px;
}
